@font-face {
  font-family: 'iconfont';  /* project id 2367542 */
  src: url('//at.alicdn.com/t/font_2367542_vhgn8ek8zo.eot');
  src: url('//at.alicdn.com/t/font_2367542_vhgn8ek8zo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2367542_vhgn8ek8zo.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2367542_vhgn8ek8zo.woff') format('woff'),
  url('//at.alicdn.com/t/font_2367542_vhgn8ek8zo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2367542_vhgn8ek8zo.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}